@model BadgeSpace.Domain.Entities.User.UserModel
@{
    ViewData["Title"] = "Alterar senha";
}

<h3>@ViewData["Title"]</h3>
<br>
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" asp-action="ChangePassword" method="post">
            <div class="form-floating">
                <input type="password" asp-for="Password" class="form-control" autocomplete="current-password" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" asp-for="Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input type="password" asp-for="Password" class="form-control" autocomplete="new-password" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="w-100 btn btn-lg btn-primary" style="text-transform: capitalize;">Alterar senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}