@page
@model Disable2faModel
@{
    ViewData["Title"] = "Desativar verificação de dois fatores (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Essa ação somente irá desativar o 2FA.</strong>
    </p>
    <p>
        Desabilitar o 2FA não altera as chaves usadas nos aplicativos autenticadores. Se você deseja alterar a chave
        usado em um aplicativo autenticador, você deve <a asp-page="./ResetAuthenticator"> redefinir suas chaves do autenticador.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Desabilitar 2FA</button>
    </form>
</div>
