@page
@model EnableAuthenticatorModel
@{
    ViewData["Title"] = "Configuração de aplicativo de autenticação";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div>
    <p>Para usar um aplicativo autenticador, siga as etapas a seguir:</p>
    <ol class="list">
        <li>
            <p>
                Baixe um aplicativo autenticador de dois fatores como o Microsoft Authenticator para
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> e
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a> ou
                Google Authenticator for
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> e
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Digitalize o QR Code ou insira esta chave <kbd>@Model.SharedKey</kbd> em seu aplicativo autenticador de dois fatores. Espaços e caixa não importam.</p>
            <div class="alert alert-info">Aprenda como <a href="https://go.microsoft.com/fwlink/?Linkid=852423">habilitar geração de QR Code</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Depois de digitalizar o código QR ou inserir a chave acima, seu aplicativo de autenticação de dois fatores fornecerá
                com um código único. Digite o código na caixa de confirmação abaixo.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form id="send-code" method="post">
                        <div class="form-floating">
                            <input asp-for="Input.Code" class="form-control" autocomplete="off" />
                            <label asp-for="Input.Code" class="control-label form-label">Código de verificação</label>
                            <span asp-validation-for="Input.Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Verificar</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
