@page
@using Web.Models
@model IndexModel
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="file" accept="image/png" asp-for="Imagem">
            @{
                var user = UserManager.Users!.FirstOrDefault(c => c.Email == User.Identity!.Name);
                if (user != null)
                {
                    var img = "http://ethospsicotestes.com.br/images/sem_foto.png";
                    if (user.Imagem != null)
                    {
                        var base64 = Convert.ToBase64String(user.Imagem);
                        img = String.Format("data:image/gif;base64,{0}", base64);
                    }
                    <img src='@img' style="width:100px; height:100px;" />
                }
            }
            <button type="submit" asp-page-handler="ChangeImage">Trocar foto de perfil</button>
            <button type="submit" asp-page-handler="RemoveImage">Remover foto de perfil</button>
            <div class="form-floating">
                <input asp-for="Username" class="form-control" disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Salvar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
