@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrar";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associar sua @Model.ProviderDisplayName conta.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Você se autenticou com sucesso com <strong>@Model.ProviderDisplayName</strong>.
    Por favor, insira um endereço de e-mail para este site abaixo e clique no botão Registrar para finalizar
    o login.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
