@model Web.Models.StudentModel

@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>

<h5>BadgeSpace</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for ="EmpresaId" type="hidden" value="@User.Identity!.Name"/>
            <div class="form-group">
                <label asp-for="NomeAluno" class="control-label"></label>
                <input asp-for="NomeAluno" class="form-control" />
                <span asp-validation-for="NomeAluno" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="AlunoCPF" class="control-label"></label>
                <input asp-for="AlunoCPF" value="@ViewBag.AuthCPF" class="form-control" />
                <span asp-validation-for="AlunoCPF" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Curso" class="control-label"></label>
                <input asp-for="Curso" class="form-control" />
                <span asp-validation-for="Curso" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Nivel" class="control-label"></label>
                <input asp-for="Nivel" class="form-control" />
                <span asp-validation-for="Nivel" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Tempo" class="control-label"></label>
                <input asp-for="Tempo" class="form-control" />
                <span asp-validation-for="Tempo" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Imagem" class="control-label"></label>
                <input type="file" accept="image/png" asp-for="Imagem" class="form-control" />
                <span asp-validation-for="Imagem" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Habilidades" class="control-label"></label>
                <input asp-for="Habilidades" class="form-control" />
                <span asp-validation-for="Habilidades" class="text-danger"></span>
            </div>
            <br>
            <div>
                <input type="submit" value="Create" class="btn btn-sucess" />
            </div>
        </form>
    </div>
</div>

<br>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
