@model Domain.Argumentos.Usuario.UsuarioRequest
@{
    ViewData["Title"] = "Gerenciar email";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Email" class="form-control" disabled />
                <label asp-for="Email" class="form-label"></label>
                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link" style="text-transform: capitalize;">Enviar email de verificação</button>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="NovoEmail" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="NovoEmail" class="form-label"></label>
                <span asp-validation-for="NovoEmail" class="text-danger"></span>
            </div>
            <br>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary" style="text-transform: capitalize;">Trocar de email</button>
        </form>
    </div>
</div>
