@model Domain.Argumentos.Usuario.Requests.UsuarioEmail
@{
    ViewData["Title"] = "Gerenciar email";
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <form id="email-form" asp-action="ChangeEmail" method="post">
            <div class="form-floating">
                <input asp-for="EmailAntigo" class="form-control" disabled />
                <label asp-for="EmailAntigo" class="form-label"></label>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="NovoEmail" class="form-control" autocomplete="email" />
                <label asp-for="NovoEmail" class="form-label"></label>
                <span asp-validation-for="NovoEmail" class="text-danger"></span>
            </div>
            <br>
            <button id="change-email-button" type="submit" class="w-100 btn btn-lg btn-primary" style="text-transform: capitalize;">Trocar de email</button>
        </form>
    </div>
</div>
