@model Domain.Argumentos.Usuario.Requests.UsuarioSenha
@{
    ViewData["Title"] = "Alterar senha";
}

<h3>@ViewData["Title"]</h3>
<br>
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="SenhaAntiga" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="SenhaAntiga" class="form-label"></label>
                <span asp-validation-for="SenhaAntiga" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="NovaSenha" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="NovaSenha" class="form-label"></label>
                <span asp-validation-for="NovaSenha" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="ConfirmarSenha" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ConfirmarSenha" class="form-label"></label>
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
            </div>
            <br>
            <button type="submit" class="w-100 btn btn-lg btn-primary" style="text-transform: capitalize;">Alterar senha</button>
        </form>
    </div>
</div>
