@model Domain.Argumentos.Usuario.Requests.UsuarioLogin
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/register.css">
</head>
<body>
    <section class="text-center text-lg-start">
        <!-- Jumbotron -->
        <div class="container py-4">
            <div class="row g-0 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card cascading-right" style="background: hsla(0, 0%, 100%, 0.55);backdrop-filter: blur(30px); margin-right:-50px;">
                        <div class="card-body p-5 shadow-5">
                            <h2 class="fw-bold mb-5">Login</h2>
                            <form asp-action="Login" method="post">
                                <h2>Bem-vindo de volta!</h2>
                                <hr />
                                <div class="text-danger"></div>
                                <div class="form-floating">
                                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label class="form-label">Email</label>
                                    <span class="text-danger">@ViewBag.errorMessageEmail</span>
                                </div>
                                <br>
                                <div class="form-floating">
                                    <input asp-for="Senha" class="form-control" autocomplete="current-password" aria-required="true" />
                                    <label class="form-label">Senha</label>
                                    <span class="text-danger">@ViewBag.errorMessageSenha</span>
                                </div>
                                <br>
                                <div>
                                    <button id="login-submit" type="submit" class="w-100 btn btn-outline-primary">Entrar</button>
                                </div>
                                <br>
                                <div>
                                    <p>
                                        <a asp-action="Register">Registrar-se como um novo úsuario</a>
                                    </p>
                                </div>  
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <img src="~/assets/images/Login.jpg" class="w-100 rounded-4 shadow-4"
                         alt="" id="imagem" />
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
</body>
</html>