<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BadgeSpace</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BadgeSpace.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid menu">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/assets/images/logo.png" alt="logo" width="70" height="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                            @if (User.Identity!.Name != null)
                            {
                                if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Estudantes" asp-action="Index">Sistema</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="Dashboard">Badges</a>
                                    </li>
                                }  
                            }

                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="/#habilidades">Benefícios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="/#blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" href="/#sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fs-5" asp-area="" asp-controller="Home" asp-action="API">Utilidades</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br>
    <footer class="text-gray-700 body-font">
        <div class="bg-gray-200">
            <div>
                <p class="text-gray-500 text-sm text-center sm:text-left">
                    © 2022 BadgeSpace - <a href="#" class="text-gray-600" target="_blank" rel="noopener noreferrer">Twitter</a> • Todos os direitos reservados
                </p>
                <div class="sm:ml-auto sm:mt-0 mt-2 sm:w-auto w-full sm:text-right text-center text-gray-500">
                    <p class="text-sm">Feito com ❤️ pela <b>equipe BadgeSpace</b></p>
                </div>
            </div>
        </div>
    </footer>

    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scrollup.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

