@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Um error aconteceu durante a requesição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID Requesitado:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo do Desenvolvedor</h3>
<p>
    Trocando para <strong>Ambiente de desenvolvimento</strong> exibirá informações mais detalhadas sobre o erro ocorrido.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado para aplicativos implantados.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções para usuários finais.
    Para depuração local, ative o <strong>Ambiente de desenvolvimento</strong>  definindo o <strong>ASPNETCORE_ENVIRONMENT</strong> variável de ambiente para <strong>desenvolvimento</strong>
    e reinicie a aplicação.
</p>
