@model BadgeSpace.Web.Models.Course.CourseViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Criar</h1>
<br>
<h4>BadgeSpace</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OnCreate" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" value="" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" accept="image/png" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br>
            <div>
                <input type="submit" value="Create" class=" btn btn-success" />
            </div>
        </form>
    </div>
</div>

<br>

<div>
    <a asp-action="Index" class="btn"><i class="ri-arrow-left-line"></i> Voltar para lista</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
