@{
    ViewData["Title"] = "Sobre a API";
}

<h1>Visão Geral</h1>
<hr />
<p>A API BadgeSpace é feita com a finalidade de ser aplicada em qualquer tipo de tarefa que envolva gerenciamento de
    certificados. Oferecemos as opções que achamos mais necessárias na área de certificações, bem como a capacidade de
    alocação de código do certificado, disponibilidade do badge e fácil manuseio do sistema para empresas, e simples
    formas de compartilhamento dos dados direcionado a camada de usuário não empresarial.</p>
<br>
<h3 class="text-red">Avisos!!</h3>
<p>Os Endpoints não são abertos publicamente, utilizamos o sistema de autenticação JWT (Jason Web Token)</p>
<br>
<h4>1 - Endpoint (Login / Registro) </h4>
<p>Recebe métodos Post de qualquer tipo de usuário para fazer login /api/auth/login e /api/auth/register</p>