@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Gere códigos de recuperação de autenticação de dois fatores (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Coloque esse código em lugar seguro.</strong>
    </p>
    <p>
        Se você perder seu dispositivo e não tiver os códigos de recuperação, perderá o acesso à sua conta.
    </p>
    <p>
        A geração de novos códigos de recuperação não alteram as chaves usadas nos aplicativos autenticadores. Se você deseja alterar a chave
        usada em um aplicativo autenticador, você deve <a asp-page="./ResetAuthenticator">redefinir suas chaves de autenticação.</a>
    </p>
</div>
<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Gerar códigos de recuperação</button>
    </form>
</div>
