@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Redefinir chave de autenticação";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Se você redefinir sua chave autenticadora, seu aplicativo autenticador não funcionará até que você a reconfigure.</strong>
    </p>
    <p>
        Esse processo desativa o 2FA até que você verifique seu aplicativo autenticador.
        Se você não concluir a configuração do aplicativo autenticador, poderá perder o acesso à sua conta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Redefinir chave autenticadora</button>
    </form>
</div>
