@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Códigos de recuperação";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Coloque esses códigos em lugar seguro.</strong>
    </p>
    <p>
        Se você perder seu dispositivo e não tiver os códigos de recuperação, perderá o acesso à sua conta.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
